# site files - these are generated in a separate branch
site/

# docker files - until we can create a working dockerfile to run busted
docker/

# todo list
TODO

# generated docs
doc/

# code coverage reports
luacov.stats.out
luacov.report.out
lint.sh

# mergetool backups
src/*.orig
tests/*.orig

# symlinks into examples
examples/src
